    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">{{customerCount}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Total customers</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Accounts</span>
                        <div class="text-900 font-medium text-xl">{{accountCount}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-credit-card text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Total accounts</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Deposit</span>
                        <div class="text-900 font-medium text-xl">{{totalDepositAmount | number}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
               
                <span class="text-500">Total deposit amount on</span>
                <span class="text-green-500 font-medium">{{currentDate | date: ' dd.MM.yyyy'}}</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Withdrawal</span>
                        <div class="text-900 font-medium text-xl">{{totalWithdrawalAmount  | number }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-cyan-500 text-xl"></i>
                    </div>
                </div>
                
                <span class="text-500">Total withdrawal amount on </span>
                <span class="text-green-500 font-medium">{{currentDate | date: ' dd.MM.yyyy'}}</span>
            </div>
        </div>
      

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Customers</h5>
                <p-table [value]="customerList" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th>Identity No </th>
                            <th>Email</th>
                            <th>Created Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customerList>
                        <tr>
                            <td style="width: 25%; min-width: 7rem;">{{customerList.customerName}}</td>
                            <td style="width: 25%; min-width: 8rem;">{{customerList.identityCardNo}}</td>
                            <td style="width: 25%;">
                                {{customerList.email}} 
                                
                            </td>
                            <td style="width: 25%;">
                                {{customerList.createdAt | date: ' dd.MM.yyyy'}} 
                                
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
          
        </div>

       
    </div>

